
@{
    // Don't forget to always run from the Index
    ViewBag.Title = "Index";
}

<h2>Welcome to my WebScraper</h2>

<h4>What would you like to do?</h4>

<a href="ScrapeCraigslist">Scrape Craigslist</a>    <br />
